#box{
	width: 100px;
	height: 100px;
	border-radius: 5%;
	background-color: red;
	position: absolute;
}

#resize{
	width: 20px;
	border-radius: 5%;
	height: 20px;
	position: absolute;
	bottom: -10px;
	right: -10px;
	background-color: green;
}

html,body{
	width: 100%;
	height: 100%;
}